@(departmentForm: Form[Department])

@import helper._

@main("Add a department") {

@if(departmentForm.hasGlobalErrors) {
<ul>
    @departmentForm.globalErrors.foreach { error =>
    <li>error.message</li>
    }
</ul>
}

@form(routes.DepartmentController.createFromRequest()) {

<fieldset>

    @inputText(departmentForm("name"), '_label -> "Department name")
    @inputText(departmentForm("imageSrc"), '_label -> "Image url")
    @inputText(departmentForm("code"), '_label -> "Code")

</fieldset>

<div class="actions">
    <input type="submit" value="Create" class="btn primary">
    <a href="@routes.DepartmentController.list()" class="btn">Cancel</a>
</div>

}

}
